@font-face {
  font-family: "abnes";
  src: url(./abnes/abnes.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;


}

/*  */
.space {
  height: 10vh;
  width: 100%;
  background-color: black;
}


/*  */
.container-fluid {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

nav {
  height: 15%;
  width: 100%;
  display: flex;
  margin: -20px !important;
  padding: 100px !important;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 11;
}

nav img {
  height: 100px;
  width: 150px;
  margin: 80px;
}


.nav-menu {
  flex: 1;
  text-align: right;
}

.nav-menu ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.nav-menu ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #FF10F0;
  display: block;
  margin: auto;
  transition: .5s;
}

.nav-menu ul li:hover::after {
  width: 100%;
  color: #FF10F0 !important;
}

nav .bi {
  display: none;
}

@media(max-width: 900px) {
  nav {
    background-color: black;
    width: 102%;
    padding: 20px !important;
  }

  nav img {
    height: 90px;
    width: 130px;
    margin: 10px 40px !important;

  }

  .nav-menu ul li {
    display: block;

  }

  .nav-menu ul li a {
    color: white !important;
    font-weight: bold;
  }

  .nav-menu {
    position: fixed;
    background: #FF10F0;
    height: 100vh;
    width: 200px;
    top: 0;

    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }

  .nav-menu ul {
    padding: 30px;
  }

  nav .bi {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 42px;
    cursor: pointer;
  }

  .address-container {
    flex-direction: column !important;

  }


  .guidlines h1 {

    font-size: 21px !important;
  }
}

.hero {
  height: 88vh;
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.text {
  text-align: center;
}

.text p {
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: 20px;
  font-family: abnes;
  -webkit-text-stroke: 2px #fff;
  color: transparent;

}


/* 
 */

/* 
  */

h4 {
  font-size: 1.3rem;
  font-weight: normal;
  padding: 20px 0;
}

.date {
  margin: 20px 0 20px 65% !important;

}

.date p {
  font-size: 1.6rem;
  width: 300px !important;
}

.learnbtn {
  position: absolute;
  right: 140px;
  bottom: 100px;

}

.learnbtn a {
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}


/* about us page css */
.div {
  height: 5vh !important;
}


.aboutus {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url(./assets/play\ \(1\).png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whie;
  text-align: center;
}

.aboutus h1 {
  font-family: abnes;
  font-size: 2.4rem;
  padding: 20px 0;
}

.about2 {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url(./assets/play\ \(2\).png);
  background-position: center;
  background-size: cover;

}

.about-container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about-left {
  height: 70%;
  width: 40%;
  background-color: white;
  margin: 0 5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.about-right {
  height: 70%;
  width: 40%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.about-right img {
  height: 100%;

}

.text-content {
  text-align: start;
  margin: 20px 50px;
}

.text-content h4 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.8rem;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.text-content p {
  font-size: 1.2rem;
}

/* EVENT */

.event {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url(./assets/event.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.event h1 {
  font-family: abnes;
  font-size: 2.4rem;
  padding: 20px 0;
  letter-spacing: 6px;
}

.event-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards-container {
  margin-top: 40px;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.event-card {
  background-color: transparent;
  height: 350px !important;
  width: 350px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
  -webkit-backdrop-filter: blur(2.9px);
  border: 1px solid rgba(255, 255, 255, 0.26);
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}



.cards-container .event-card:nth-child(1) {

  background-image: url(./assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(2) {

  background-image: url(./assets/13167.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(3) {

  background-image: url(./assets/3540662.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(4) {

  background-image: url(./assets/red-black-brush-stroke-banner-background-perfect-canva.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(5) {

  background-image: url(./assets/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(6) {

  background-image: url(./assets/2211.w026.n002.2794B.p1.2794.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(7) {

  background-image: url(./assets/6550575.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(8) {

  background-image: url(./assets/SL-101619-24150-73.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(9) {

  background-image: url(./assets/2_asdasdwasda.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.cards-container .event-card:nth-child(10) {

  background-image: url(./assets/play.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.event-card p {
  margin: 0 5px;
}

.event-card button {
  padding: 10px 25px;
  background-color: blue;
  outline: none;
  border-radius: 10px;
  border: none;
}

/*guidlines  */


.guidlines {
  height: 110%;
  width: 100%;
  background-color: #06002e;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8));
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
  text-align: start;
}

.guidlines h1 {
  font-family: abnes;
  padding: 20px 0;
  margin: 20px 0;
}

.accordion {
  -webkit-text-stroke: 1px #FF10F0;
  color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 1.8s;
  /* color: #FF10F0 !important; */
  margin: 10px 0;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}



.active,
.accordion:hover {
  background-color: #ff10efaa;
  color: white !important;
}

.panel {
  padding: 0 18px;
  width: 80%;
  display: none;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  transition: all 1.2s ease-out;
  position: relative;
  overflow-y: scroll;
  max-height: 100%;
  overflow: hidden;
  border-radius: 0 0 10px 10px;

}

.panel p,
li {

  padding: 6px 0;
  margin-bottom:10px;
}

.panel button {
  position: absolute;
  right: 10px;
  bottom: 10px;


}

/* contact page */

.contact {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, transparent 40%, transparent 75%, rgba(0, 0, 0, .8)), url(./assets/contact.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact h1 {
  font-family: abnes;
  text-align: center;
  padding: 20px 0 !important;
}
.contact  a{
  text-decoration: none;
  color: white;
}
.contactpage {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.location-map {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.location-map iframe {
  width: 80%;
  height: 100%;
  border: 3px solid #FF10F0;
  box-shadow: 2px 1px 35px -2px rgba(240, 225, 225, 0.75);
  -webkit-box-shadow: 2px 1px 35px -2px rgba(240, 225, 225, 0.75);
  -moz-box-shadow: 2px 1px 35px -2px rgba(240, 225, 225, 0.75);

}

.address {
  height:100%;
  width: 100%;
  background-color: #06002e88 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}



.address-container {
  height: 140%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;


}

.information {
  width: 100%;
  height: 15vh;
  display: flex;
  margin: 5vh 0;
  justify-content: center;
  align-items: flex-start;
}

.information i {
  font-size: 32px;
  padding: 10px;
}

.information p {
  font-size: 17px;
  margin: 23px 0;
}

.information a {
  text-decoration: none;
  color: #f67eee;
  font-size: 1.1rem;
  margin: 10px 0 !important;
}

.information address {

  font-size: 17px;
  

}

.information:nth-child(1) {

  border-right: 2px solid #FF10F0;
}

.information:nth-child(2) {

  border-right: 2px solid #FF10F0;

}

.information:nth-child(3) {

  text-align: start;

}




/* Responsive */

@media only screen and (min-device-width: 280px) and (max-device-width: 770px) {


  .accordion {
    font-size: 1rem;
  }

  .hero {
    text-align: center;
  }

  nav img {
    height: 100px;
    padding: 20px 0;
    width: 150px;

  }

  .text p {
    font-size: 2.1rem;

    letter-spacing: 10px;
  }

  .date {
    margin: 0 !important;

  }

  .date p {
    font-size: 1.1rem;
    padding: 20px 0;
    width: 400px;
  }

  h4 {
    font-size: 1rem;
    font-weight: normal;
    padding: 20px 0;
  }

  .learnbtn {
    text-align: center;
    position: absolute;
    right: 25%;
  }

  /* about */

  .about-container {
    height: 100%;
    flex-direction: column;
  }

  .about-left {
    height: 100%;
    width: 90%;
    margin: 50px 0;

  }

  .text-content p {
    font-size: 1rem;
  }

  .about-right img {
    height: 300px;
    width: 300px;



  }

  .address-container {
    flex-direction: column;
  }

  .information:nth-child(1) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;
  }

  .information:nth-child(2) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;

  }
  .address{
    margin: 10vh 0 !important;
  }


}

@media only screen and (min-device-width: 768px) and (max-device-width: 1250px) {


  .hero {
    text-align: center;
  }

  .learnbtn {
    display: none;
  }

  .accordion {
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    color: #FF10F0 !important;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .text p {
    font-size: 4.9rem;
  }

  .date {
    margin: 0 !important;

  }

  .logo p {
    font-size: 3rem;
  }

  .date p {
    font-size: 1.8rem;
    padding: 20px 0;

  }

  .about-container {
    height: 100%;
    flex-direction: column;
  }

  .about-left {
    height: 100%;
    width: 90%;
    margin: 50px 0;

  }

  .text-content p {
    font-size: 1rem;
  }

  .about-right img {
    height: 300px;
    width: 300px;



  }

  .address-container {

    flex-direction: column;
    text-align: start !important;


  }

  .information:nth-child(1) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;
  }

  .information:nth-child(2) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;

  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1250px) {


  .hero {
    text-align: center;
  }

  .learnbtn {
    display: none;
  }

  .accordion {
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    color: #FF10F0 !important;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .text p {
    font-size: 4.9rem;
  }

  .date {
    margin: 0 !important;

  }

  .logo p {
    font-size: 3rem;
  }

  .date p {
    font-size: 1.8rem;
    padding: 20px 0;

  }

 


  .about-container {
    height: 100%;
    flex-direction: column;
  }

  .about-left {
    height: 100%;
    width: 90%;
    margin: 50px 0;

  }

  .text-content p {
    font-size: 1rem;
  }

  .about-right img {
    height: 300px;
    width: 300px;



  }

  .address-container {

    flex-direction: column;


  }

  .information:nth-child(1) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;
  }

  .information:nth-child(2) {
    border-right: 0;
    border-bottom: 2px solid #FF10F0;

  }

}






/*  */